@use 'vexip-ui/style/dark';

html {
  font-size: 4px; // * 方便unocss计算：1单位 = 0.25rem = 1px
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f2f2f2;
  font-family: 'Encode Sans Condensed', sans-serif;
}

#app {
  width: 100%;
  height: 100%;
}

/* router view transition fade-slide */
.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.3s;
}

.fade-slide-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-slide-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

